@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* Hide scrollbar but keep scroll */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

textarea {
  resize: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
